<!-- Footer -->
<!-- Begin Web-Stat code v 6.3 -->
<span id="wts1900354">&nbsp;</span><script>
var wts=document.createElement('script');wts.type='text/javascript';
wts.async=true;wts.src='https://wts.one/4/1900354/log6_2.js';
document.getElementById('wts1900354').appendChild(wts);
</script><noscript><a href="https://www.web-stat.com">
<img src="https://wts.one/6/4/1900354.gif" 
alt="Web-Stat traffic analysis"></a></noscript>
<!-- End Web-Stat code v 6.3 -->
<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.email %}
          <li class="list-inline-item">
            <a href="mailto:{{ site.email | encode_email }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
        <p class="copyright text-muted">[ Navigation bar and favicon icons by <a href="https://www.flaticon.com/authors/pixel-perfect/filled/">Pixel perfect on FlatIcon</a> ] </p>
      </div>
    </div>
  </div>
</footer>
